  <footer class="footer">
    <div class="footer-nav-wrapper">
      <h3 class="footer-nav-heading">
        More Info
      </h3>
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">
            Company
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">
            Sales
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">
            Returns
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">
            Privacy Policy
          </a>
        </li>
        <li class="footer-nav-item">
          <a href="" class="footer-nav-link">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
    <!-- forms and social media -->
    <div class="contact">
      <h2 class="contact-heading">
        Sign Up for our Newspaper
      </h2>
      <p class="contact-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <form action="">
        <div class="inputs-group">
          <input type="text" class="inputs-group-text" placeholder="First Name">
          <input type="text" class="inputs-group-text" placeholder="Last Name">
        </div>
        <div class="inputs-group">
          <input type="text" class="inputs-group-email" placeholder="Your Email Address">
          <input type="submit" class="inputs-group-btn" value="Sign Up">
        </div>
      </form>

      <ul class="social-icons">
        <li class="social-icons-item">
          <a href="" class="social-icons-link">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="social-icons-link">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="" class="social-icons-link">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a href="" class="social-icons-link">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="social-icons-link">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="" class="social-icons-link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="contact-list-wrapper">
      <h3 class="contact-list-heading">
        Music Store
      </h3>
      <ul class="contact-list">
        <li class="contact-list-item">
          <a href="" class="contact-list-link">
            555 777 7777
          </a>
        </li>
        <li class="contact-list-item">
          <a href="" class="contact-list-link">
            info@gmail.com
          </a>
        </li>
        <li class="contact-list-item">
          <a href="" class="contact-list-link">
            New Yprk, Broadway
          </a>
        </li>
        <li class="contact-list-item">
          <a href="" class="contact-list-link">
            Free us delivery
          </a>
        </li>
      </ul>
    </div>
  </footer>
