       <section class="products">
        <div class="products-heading">
          <h1 class="products-heading-text">Featured Products</h1>
        </div>

        <div class="products-wrapper">
          <div class="product">
            <img src="assets/brush.jpg" alt="" class="product-img">
            <div class="product-description">
              <h2 class="product-description-heading">
                Dress
              </h2>
              <p class="product-description-price">
                Price: <span>$150</span>
              </p>
              <a href="#" class="product-description-btn">
                Buy Now
              </a>
            </div>
          </div>
          <div class="product">
            <img src="assets/flute.jpg" alt="" class="product-img">
            <div class="product-description">
              <h2 class="product-description-heading">
                Dress
              </h2>
              <p class="product-description-price">
                Price: <span>$150</span>
              </p>
              <a href="#" class="product-description-btn">
                Buy Now
              </a>
            </div>
          </div>
          <div class="product">
            <img src="assets/easel.jpg" alt="" class="product-img">
            <div class="product-description">
              <h2 class="product-description-heading">
                Dress
              </h2>
              <p class="product-description-price">
                Price: <span>$150</span>
              </p>
              <a href="#" class="product-description-btn">
                Buy Now
              </a>
            </div>
          </div>
        </div>
      </section>
