<section class="slideshow">
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quibusdam veritatis odio voluptatem impedit repellat, nemo cum.</p>
    </div>
    <img src="assets/tia.png" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quibusdam veritatis odio voluptatem impedit repellat, nemo cum.</p>
    </div>
    <img src="assets/ship.jpg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quibusdam veritatis odio voluptatem impedit repellat, nemo cum.</p>
    </div>
    <img src="assets/tia.png" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 4</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quibusdam veritatis odio voluptatem impedit repellat, nemo cum.</p>
    </div>
    <img src="assets/ship.jpg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 5</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quibusdam veritatis odio voluptatem impedit repellat, nemo cum.</p>
    </div>
    <img src="assets/tia.png" alt="">
  </div>
</section>
