* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  /// REDUCE OVERALL FONT SIZE
  /// One rem equals 16px. In order to set it equal to 10 we have to
  /// calculate via:
  // 10 / 16 = .625 * 100
  font-size: 62.5%;
}

.container {
  display: grid;
  // 10 columns total with 2 for spacing on sides
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  // we will have 4 sections so we need 4 rows
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: color(secondary);
}


